<%= turbo_stream.replace "search-form" do %>
  <%= render "form", search_defaults: @search_defaults, search_error: @search_error %>
<% end %>

<%= turbo_stream.replace "search-loading" do %>
  <div id="search-loading" class="loading" data-search-form-target="loading" hidden>
    <%= render "loading" %>
  </div>
<% end %>
